# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production / Build Output
/dist
/dist-ssr
/build

# Vite / TS logs and cache
*.local
.eslintcache
.tsbuildinfo
vite.config.ts.timestamp-*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
